body {  
  background-color: black;
  background-image: url(matrix.jpg);
  color: rgb(148, 238, 13);
  font-family: monospace;
}

#result-python, #result-Csharp, #result-javaScript, #result-ruby, #result-hack {
  display: none;
}

#mainTop {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 20px;
  
}

#dropDown, #radioButtons, #sentence {
  margin: auto;
  margin-top: 5px;
  padding: 10px;
  width: 80%;
  border: solid rgb(151, 245, 11);
  border-radius: 5px;
  border-width: 1px;
}

#question1, #question2, #question5 {
  background-color: black;
  color: rgb(148, 238, 13);
  border: solid rgb(151, 245, 11);
  border-width: 1px;

}

#mainForm {
  background-color: black;
  margin: auto;
  width: 75%;
  text-align: center;
  border: solid rgb(151, 245, 11);
  border-radius: 5px;
  border-width: 1px;  
  box-shadow: 1px 1px 4px 4px rgb(151, 245, 11); 
  margin-bottom: 30px;
}
#mainForm p {
  font-size: large;
  margin: 10px;
  margin-left: 75px;
  margin-right: 75px;
}

#nameLabel {
  margin-top: 10px;
  margin-left: 40px;
}

#name { 
  background-color: black;
  color: greenyellow;
  border: solid rgb(151, 245, 11);
  border-width: 1px;
  margin-right: 30px;
  margin-top: 15px;
  float: left;
  width: 20%;
  height: 60%;
}

#question5 { 
  margin: auto;  
  width: 20%;
}

.btn {
  margin: 10px;
  background-color: greenyellow;
  font-weight: bold;
}

.result {
  padding: 30px;
  background-color: black;
  margin: auto;
  margin-top: 100px;
  width: 75%;
  text-align: center;
  border: solid rgb(151, 245, 11);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 1px 1px 4px 4px rgb(151, 245,11);  
}

.result img {  
  /* background: transparent; 
  background-color: transparent; */
  margin: auto;
  width: 50%;
  /* box-sizing: border-box; */
}

#result-hack img {
  /* background-image: url(https://i.pinimg.com/originals/cb/64/cd/cb64cd64b393244185daf0d9021a8573.jpg); */
  margin: auto;
  margin-top: 5px;
  width: 100%;
  border: solid rgb(151, 245, 11);
  border-radius: 5px;
  border-width: 1px;  
  box-shadow: 1px 1px 4px 4px rgb(151, 245,11);
}
/* .radio {
  color: greenyellow;
} */
.container input:checked ~ .checkmark {
  background-color: greenyellow;
}