body {
  
  background-color: black;
  background-image: url(matrix.jpg);
  color: rgb(148, 238, 13);
}
#result-python, #result-Csharp, #result-javaScript {
  display: none;
}
#mainTop {
  text-align: center;
}

#mainForm {
  background-color: black;
  margin: auto;
  width: 75%;
  text-align: center;
  border: solid rgb(151, 245, 11);
  border-radius: 5px;
  border-width: 1px;
}
#question5, #name { 
  margin: auto; 
  width: 10%;
}
.btn {
  margin-top: 5px;
  background-color: greenyellow;
}