body {
  background-color: black;
  color: greenyellow;
}
#result-python, #result-Csharp, #result-javaScript {
  display: none;
}
#mainTop {
  text-align: center;
}

#mainForm {
  margin: auto;
  width: 75%;
  text-align: center;
  border: solid greenyellow;
  border-radius: 5px;
  border-width: 1px;
}
#question5 {
  
  width: 10%;
}
.btn {
  margin-top: 5px;
  background-color: greenyellow;
}